.card-item-title {
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Dark text color */
  margin-bottom: 20px;
  border-bottom: 2px solid var(--background-dark); /* Bottom border for emphasis */
  padding-bottom: 10px;
}

.product-card {
  width: 300px;
  padding: 10px; /* Padding for the card */
}

.shopping-button {
  position: absolute;
  right: 25px; /* Distance from the right edge of the card */
  bottom: 25px; /* Distance from the bottom edge of the card */
  background-color: var(--secondary); /* Blue background color */
  color: var(--primary); /* White text/icon color */
  border-radius: 15px; /* Rounded corners */
  font-size: 14px;
  font-weight: bold;
}

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.price-section {
  margin-top: 10px;
}

.price-old {
  text-decoration: line-through;
  color: grey;
  margin-right: 10px;
}

.discount-percent{
  margin-right: 5px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.price-new {
  font-size: 24px;
  font-weight: bold;
}

.price {
  display: inline;
  position: relative;
}

.price-cent {
  position: absolute;
  bottom: 6px;
  font-size: 14px;
  font-weight: bold;
}