@import url("./Theme.css");

/* header.css */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: var(--secondary);
  font-size: 48px;
  font-weight: bold;
  line-height: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: left 20px;
}

.menu-button {
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.search-bar {
  flex-grow: 1;
  max-width: 400px;
  margin: 0 20px;
  width: 400px;
}

.ant-input{
  font-size: 18px;
}

.ant-input-search .ant-input-search-button{
  height: 38px;
}

.ant-btn{
  font-size: 18px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Abstand zwischen den Elementen in der rechten Ecke */
}

.header-right .ant-btn {
  height: 48px;
  font-size: 18px;
  padding: 0 20px;
}

.cart-icon {
  font-size: 48px;
  color: var(--background-light);
  margin-left: 10px;
  margin-right: 20px; /* Abstand vom rechten Rand */
}

.float-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background: #001529;
  border-radius: 8px;
  padding: 10px;
}

.float-button-container .anticon {
  font-size: 24px;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}

.float-button-container .anticon:hover {
  color: #1890ff;
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  .header-right .ant-btn {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 36px;
    max-width: 100px;
  }

  .header-right .ant-btn {
    font-size: 16px;
    margin-right: 5px;
  }

  .cart-icon {
    font-size: 36px;
  }
}