.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Stack buttons, image, and dots */
  position: relative;
  width: 100%;
}

.image-container-2 {
  position: relative;
  width: 1200px; /* Adjust the size as needed */
  height: 800px;
  overflow: hidden;
}

.image-2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Navigation Button Styles */
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-size: 30px;
  color: black;
}

.nav-button.left {
  left: 9%; /* Move the button closer to the image */
}

.nav-button.right {
  right: 9%; /* Move the button closer to the image */
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-50%) scale(1.1); /* Slight scale on hover */
}

/* Dot indicator container */
.dot-indicators {
  margin-top: -2%;
  display: flex;
  justify-content: center;
}

.dot {
  margin-top: -5%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.8);
}
