.order-container-box {
  padding: 20px;
}

.order-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.orders-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.orders-content-test {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2%;
}

.order-card,
.order-container-card {
  background-color: #fff; /* Card background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  padding: 20px;
  width: 48%; /* Set the width to make both cards occupy equal space */
}

.order-boxes {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between order boxes */
}

/* Optional: Additional styling for OrderBox and OrderContainer */
.order-box {
  border: 1px solid #ddd; /* Border around each OrderBox */
  padding: 15px;
  border-radius: 4px; /* Rounded corners */
  background: #fff; /* Background color */
  width: auto !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.order-box-active {
  border: 4px solid orange !important;
  padding: 15px;
  border-radius: 4px; /* Rounded corners */
  background: #fff; /* Background color */
  width: auto !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.order-box.selected {
  background-color: #d3f9d8; /* Light green for selected state */
  border-color: #4caf50; /* Darker green border for selected state */
  font-weight: bold;
}
